repos:
  -   repo: https://github.com/pycqa/isort
      rev: 6.0.1
      hooks:
        - id: isort
          language_version: python3
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args:
          - --py310-plus
        exclude: donfig/version\.py
  -   repo: https://github.com/psf/black
      rev: 25.9.0
      hooks:
        - id: black
          language_version: python3
  -   repo: https://github.com/PyCQA/flake8
      rev: 7.3.0
      hooks:
        - id: flake8
          language_version: python3
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        # Override default --ignore-missing-imports
        # Use pyproject.toml if possible instead of adding command line parameters here
        args: [ --warn-unused-configs ]
        additional_dependencies:
          # Type stubs
          - types-docutils
          - types-PyYAML
          - types-setuptools
          # Typed libraries
          - numpy
          - pytest

ci:
  # To trigger manually, comment on a pull request with "pre-commit.ci autofix"
  autofix_prs: false
  autoupdate_schedule: "monthly"
  skip: []
