name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["windows-latest", "ubuntu-latest", "macos-latest"]
        python-version: ["3.9"]

    env:
      PYTHON_VERSION: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Conda Environment
        uses: mamba-org/setup-micromamba@v1
        with:
#          python-version: ${{ matrix.python-version }}
          environment-file: continuous_integration/environment.yaml
          cache-environment: true
          init-shell: bash powershell

      - name: Install Donfig
        shell: bash -l {0}
        run: |
          pip install --no-deps -e .

      - name: Run unit tests on non-Windows
        shell: bash -l {0}
        run: |
          pytest --cov=donfig donfig --cov-report=xml
        if: runner.os != 'Windows'

      - name: Run unit tests on Windows
        shell: powershell
        run: |
          pytest --cov=donfig donfig --cov-report=xml
        if: runner.os == 'Windows'

      - name: Upload unittest coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          flags: unittests
          file: ./coverage.xml
          env_vars: OS,PYTHON_VERSION,UNSTABLE
